name: Deploy to github pages
on:
  push:
    branches:
      - master
jobs:
  gh-pages-deploy:
    name: Deploying to gh-pages
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js for use with actions
        uses: actions/setup-node@v4
        with:
          node-version:  21
      - name: Checkout branch
        uses: actions/checkout@v2

      - name: Clean install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Run deploy script
        run: |
          git config user.name "Anas bin Azmi" && git config user.email "anasazmi571@gmail.com"
          yarn deploy